<%- include ('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/navbar.ejs') %>

            <div class="container">
                <hr>
                <div class="card">
                    <div class="card-header">
                        <h2>Novo artigo</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/articles/update">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <input class="form-control" type="text" name="title" id="title"
                                value="<%= article.title %> ">
                            <br />
                            <textarea class="form-control" name="body" id="article"><%- article.body %></textarea>
                            <br />
                            <label>Categoria</label>
                            <select name="category" id="" class="form-control">
                                <% categories.forEach((category)=> { %>
                                    <option value="<%=category.id%>" <%=category.id===article.categoryId ? "selected"
                                        : '' %>><%= category.title %>                                            
                                    </option>
                                    <% }) %>
                            </select>
                            <br />
                            <button class="btn btn-success">Atualizar</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>

    <%- include ('../../partials/footer.ejs') %>

        <script src="/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                language: "pt_BR",
                selector: "#article",
                plugins: [
                    'advlist',
                    'autolink',
                    'link',
                    'image',
                    'lists',
                    'preview',
                    'searchreplace',
                    'wordcount',
                    'fullscreen',
                    'insertdatetime',
                    'media',
                    'save',
                    'table',
                    'emoticons',
                ]
            });
        </script>