<%- include ('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/navbar.ejs') %>

            <div class="container">
                <hr>
                <h2>Artigos</h2>
                <hr>

                <a class="btn btn-primary" href="/admin/articles/new">Criar Artigo</a>
                <hr>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Título</th>
                            <th>Slug</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% articles.forEach(article => { %>
                            <tr>
                                <td><%= article.id %> </td>
                                <td><%= article.title %> </td>
                                <td><%= article.slug %> </td>
                                <td><%= article.category.title %> </td>
                                <td><a class="btn btn-warning"
                                    href="/admin/article/edit/<%= article.id %> ">Editar</a>

                                <form method="POST" action="/articles/delete" style="display: inline;"
                                    onsubmit="confirmDelete(event, this)">
                                    <input type="hidden" name="id" value="<%= article.id %> ">
                                    <button class="btn btn-danger">Deletar</button>
                                </form></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

            <%- include ('../../partials/footer.ejs') %>
                <script>
                    function confirmDelete(event, form) {

                        if (confirm("Deseja deletar este artigo?")) {
                            form.submit();
                        } else {
                            event.preventDefault(); 
                        }
                    }
                </script>